/* Sidebar.css */

/* General styling */
h2 {
    color: #d97b5c; /* Set heading color consistent with color scheme */
}

/* List Group Item styling */
.list-group-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.list-group-item.active {
    background-color: #f4b27a !important; /* Set active item background color consistent with color scheme */
    border-color: #d97b5c !important; /* Set active item border color consistent with color scheme */
}

.list-group-item:hover {
    background-color: #fcdfba; /* Set item background color on hover consistent with color scheme */
}

/* Badge styling */
.badge.bg-primary {
    background-color: #d97b5c !important; /* Set badge background color consistent with color scheme */
    color: #fff !important; /* Set badge text color */
}

/* Member Status styling */
.member-status-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.member-status {
    margin-bottom: 0;
    position: relative;
}

.sidebar-online-status {
    color: green;
}

.sidebar-offline-status {
    color: #e3b505;
}

.sidebar-offline-status,
.sidebar-online-status {
    font-size: 11px;
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 12px;
}
